version: '3.8'

services:
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3002:3002'
    env_file:
      - .env
    networks:
      - shared-network

networks:
  shared-network:
    external: true
